---
import Layout from '../layouts/Layout.astro';

import userDP from '../images/image-jeremy.png';
import { Image } from '@astrojs/image/components';

import Buttons from '../components/Buttons';
import DashboardCard from '../components/DashboardCard';

import data from '../data.json';

function loadImageAndColor(object: any, illustration: any, bg: any) {
  object.illustration = illustration;
  object.bgColor = bg;
}

loadImageAndColor(data[0], '/icon-work.svg', 'hsl(15, 100%, 70%)');
loadImageAndColor(data[1], '/icon-play.svg', 'hsl(195, 74%, 62%)');
loadImageAndColor(data[2], '/icon-study.svg', 'hsl(348, 100%, 68%)');
loadImageAndColor(data[3], '/icon-exercise.svg', 'hsl(145, 58%, 55%)');
loadImageAndColor(data[4], '/icon-social.svg', 'hsl(264, 64%, 52%)');
loadImageAndColor(data[5], '/icon-self-care.svg', 'hsl(43, 84%, 65%)');
---

<Layout title='Time Tracking Dashboard'>
  <main
    class='mx-auto flex min-h-screen w-full max-w-[1300px] items-center justify-center'
  >
    <div id='dashboard' class='mx-4 my-8 grid w-full grid-cols-4 gap-8'>
      <div id='user' class='row-span-2 rounded-2xl bg-dark-blue'>
        <div
          id='user-details'
          class='flex items-center rounded-2xl bg-blue p-8 pb-8 brk:flex-col brk:items-start brk:pb-[88px]'
        >
          <Image
            src={userDP}
            alt='user display'
            width={84}
            height={84}
            class='mr-5 rounded-full border-2 border-white brk:mb-[34px] brk:mr-0'
          />
          <div>
            <p class='mb-2 text-[14px]'>Report for</p>
            <h1 class='text-2xl text-white brk:text-[40px]'>Jeremey Robson</h1>
          </div>
        </div>

        <Buttons client:load />
      </div>

      {
        data.map(({ title, timeframes, illustration, bgColor }) => (
          <DashboardCard
            title={title}
            illustration={illustration}
            tframes={timeframes}
            bgColor={bgColor}
            client:idle
          />
        ))
      }
    </div>
  </main>
</Layout>
